 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

 main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 197, 197);
    gap: 32px;
    flex-wrap: wrap;
    padding: 2.4rem 0px;
 }

 .container-div {
    width: 22%;
    height: 90vh;
    background-color: #fff;
    /* z-index: 999; */
 }
 .header-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
  height: 4rem;
  width: 100%;
  background-color: rgb(241, 241, 10);
 }
 .header-div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    background-color: black;

 }
 .header-div > a > i {
    color: yellow;
    font-size : 32px;
 }
 .welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .welcome-page > p{
    padding-top: 3rem;
    font-weight: 700;
 }
 .welcome-page > p:hover{
    border-bottom:2px solid green; 

 }
  .login-google{
   margin-top: 3rem;
   background-color: black;
   color: yellow;
   padding: 14px 2rem;
   border-radius:  40px;
 }
 .login-google >p:hover{
    border-bottom:2px solid green; 
 }
 .welcome-page .or-logIn {
    margin-top: -26px;
    font-size: 10px;

 }
 .welcome-page .or-logIn:hover{
    border-bottom:2px solid green; 

 }
 .Or-LogInreal {
    color: gray;
    margin-bottom: 6px;
 }
 .Or-LogInreal:hover{
    border-bottom:2px solid green; 

 }
 .input-name {
 margin-bottom: 10px;
}
.input-name >input{
    width: 100%;
     padding:5px 2rem 5px 5px;
     /* padding-right: 2rem; */
     border:none;
     outline: none;
     border-bottom: 2px solid gray;
 }
 .input-name >input:hover{
    border: 1px solid rgb(23, 23, 211);
 }
 .forget-div {
    display: flex;
   justify-content: flex-end;
   align-items: end;
   margin: 0 4rem;
 }
 .forget-password {
  text-align: end;
  font-size: 10px;
 }
 .forget-password:hover{
    border-bottom:2px solid green; 
 }
.Login-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Login-div .login-main-div{
    margin-top: 2rem;
    background-color: gray;
    padding: 6px 4rem;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
.login-main-div:hover {
    border-bottom:2px solid green; 

}
.Login-div .login-main-div:hover{
    border-bottom:4px solid rgb(27, 206, 137); 
}
.Login-div .text-login {
    margin-top: 4rem;
    font-size: 12px;
}
.Login-div .text-login:hover{
    border-bottom:2px solid green; 
}